---
- name: Update and upgrade apt packages
  apt:
    upgrade: dist
    update_cache: yes

- name: Install required packages
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
    state: present
    update_cache: yes
